.blocks {
  display: flex;
  justify-content: space-evenly;
  color: #bc7a25;
  background: #c6b8ab;
  padding: 23px;
  border-radius: 55px;
}
.blocks .link {
  text-decoration: none;
  color: #ffc0c0;
  background: #26aa4e;
  padding: 7px 24px;
  border-radius: 15px;
}